/*

!/.gitignore

!/.vimrc

!/.spacemacs

!/.config
/.config/*
!/.config/vifm/vifmrc
!/.config/vifm/colors
!/.config/vifm/scripts
!/.config/termite

!/.weechat
/.weechat/*
!/.weechat/weechat.conf

!/.i3

!/.gdbinit

!/.bashrc
!/.bash_profile
